/* CSS Document */

/*
 * Skin for jPlayer Plugin (jQuery JavaScript Library)
 * http://www.jplayer.org
 *
 * Skin Name: Hot Ice
*/

div.jp-single-player,
div.jp-playlist-player {
	font-size:1em;
	font-family:Arial,Verdana, sans-serif;
	line-height:1.6;
	color: #666;
	width:600px;
	height:350px;
}
div.jp-playlist-player a {
	color:#ffffff;
}
div.jp-interface {
	position: relative;
	background:url(hot_ice_jplayer_bg.png) no-repeat;
	width:600px;
	height:350px;
	background-color: transparent;
	border:0;	
}
div.jp-single-player div.jp-interface {
	border-bottom:none;
}
div.jp-playlist-player div.jp-interface {
}


/*controls*/

div.jp-controls-holder{
	clear: both;
	width: 600px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	/*top: -8px;*/
}

div.jp-interface ul.jp-controls {
	position: relative;
	clear: both;
	list-style-type:none;
/*	padding:50px;*/
	margin: 0;
	overflow: visible;
}

div.jp-audio ul.jp-controls{
	width: 600px;
/*	padding: 20px 20px 0;*/
}

div.jp-audio-stream ul.jp-controls{
	width: 600px;
/*	padding: 20px 20px 0;*/
}

div.jp-interface ul.jp-controls li {
	/*position: absolute;*/
}
div.jp-interface ul.jp-controls a {
	position: absolute;
	text-indent:-9999px;
	display: block;
	overflow: hidden;
}
a.jp-play,
a.jp-pause {
	top: 60px;
	/*margin-left: 57px;*/
	width:44px;
	height:44px;
}
div.jp-single-player a.jp-play,
div.jp-single-player a.jp-pause,
div.jp-playlist-player a.jp-play,
div.jp-playlist-player a.jp-pause {
	left:58px;
}

a.jp-play {
	background: url(hot_ice_jplayer.png) 0 0 no-repeat;
}
a.jp-play:hover {
	background: url(hot_ice_jplayer.png) -52px 0 no-repeat;
}
a.jp-pause {
	background: url(hot_ice_jplayer.png) 0 -45px no-repeat;
	display: none;
}
a.jp-pause:hover {
	background: url(hot_ice_jplayer.png) -51px -45px no-repeat;
}

a.jp-stop, a.jp-previous, a.jp-next{
	width: 33px;
	height: 31px;
	background: none;
}

a.jp-stop{
	background: url(hot_ice_jplayer.png) 0 -90px no-repeat;
	left: 106px;
	top: 65px;
}
a.jp-stop:hover{
	background: url(hot_ice_jplayer.png) -37px -90px no-repeat;
}
a.jp-previous {
	left:23px;
	top:65px;
}
a.jp-previous{
	background: url(hot_ice_jplayer.png) 0 -225px no-repeat;
}
a.jp-previous:hover {
	background: url(hot_ice_jplayer.png) -37px -225px no-repeat;
}
a.jp-next {
	left:141px;
	top:65px;
}
a.jp-next{
	background: url(hot_ice_jplayer.png) 0 -192px no-repeat;
}
a.jp-next:hover {
	background: url(hot_ice_jplayer.png) -37px -192px no-repeat;
}
a.jp-shuffle,
a.jp-shuffle-off {
	left: 190px;
	top: 73px;
	width: 29px;
	height: 18px;
}
a.jp-shuffle{
	background: url(hot_ice_jplayer.png) 0 -345px no-repeat;
}
a.jp-shuffle:hover{
	background: url(hot_ice_jplayer.png) -32px -345px no-repeat;
}
a.jp-shuffle-off{
	background: url(hot_ice_jplayer.png) -68px -345px no-repeat;
	display: none;
}
a.jp-shuffle-off:hover{
	background: url(hot_ice_jplayer.png) -100px -345px no-repeat;
}
a.jp-repeat,
a.jp-repeat-off {
	left: 227px;
	top: 72px;
	width: 25px;
	height: 21px;
}
a.jp-repeat{
	background: url(hot_ice_jplayer.png) 0 -322px no-repeat;
}
a.jp-repeat:hover{
	background: url(hot_ice_jplayer.png) -33px -322px no-repeat;
}
a.jp-repeat-off{
	background: url(hot_ice_jplayer.png) -69px -322px no-repeat;
	display: none;
}
a.jp-repeat-off:hover{
	background: url(hot_ice_jplayer.png) -101px -322px no-repeat;
}


/*progress bar*/

div.jp-progress {
	position: absolute;
	overflow:hidden;
	top:91px;
	width:285px;
	height:17px;
	background-color: #ddd;
	/*z-index:2;*/
}
div.jp-single-player div.jp-progress,
div.jp-playlist-player div.jp-progress {
	left:281px;
}

div.jp-seek-bar {
	background: url(hot_ice_jplayer.png) 0 -303px repeat-x;
	width:0px;
	height:17px;
	cursor: pointer;
}
div.jp-play-bar {
	background: url(hot_ice_jplayer.png) 0 -281px repeat-x ;
	width:0px;
	height:17px;
}


/*volume controls*/

a.jp-mute,
a.jp-unmute {
	top:113px;
	width:13px;
	height:17px;
}

a.jp-unmute{
	background: url(hot_ice_jplayer.png) 0 -366px no-repeat;
}
a.jp-unmute:hover{
	background: url(hot_ice_jplayer.png) -29px -366px no-repeat;
}

a.jp-mute{
	background: url(hot_ice_jplayer.png) -69px -366px no-repeat;
	display: none;
}

a.jp-mute:hover{
	background: url(hot_ice_jplayer.png) -101px -366px no-repeat;
}

div.jp-single-player a.jp-mute,
div.jp-single-player a.jp-unmute,
div.jp-playlist-player a.jp-mute,
div.jp-playlist-player a.jp-unmute {
	left:33px;
}

a.jp-volume-max {
	top:113px;
	background: url(hot_ice_jplayer.png) 0 -382px no-repeat;
	width:27px;
	height:18px;
}

a.jp-volume-max:hover{
	background: url(hot_ice_jplayer.png) -28px -382px no-repeat;
}

div.jp-single-player a.jp-volume-max,
div.jp-playlist-player a.jp-volume-max {
	left:221px;
}

div.jp-volume-bar {
	position: absolute;
	overflow:hidden;
	top:118px;
	background: url(hot_ice_jplayer.png) 0 -271px repeat-x;
	width:154px;
	height:6px;
	cursor: pointer;
}
div.jp-single-player div.jp-volume-bar,
div.jp-playlist-player div.jp-volume-bar {
	left:56px;
}

div.jp-volume-bar-value {
	background: url(hot_ice_jplayer.png) 0 -271px repeat-x;
	width:0px;
	height:6px;
}


/*current time and duration time*/

div.jp-current-time,
div.jp-duration {
	position: absolute;
	top:113px;
	width:285px;
	font-size:10pt;
	font-weight:bold;
	color:#ffffff;
	z-index:1;
}
div.jp-duration {
	text-align: right;
}
div.jp-single-player div.jp-current-time,
div.jp-single-player div.jp-duration,
div.jp-playlist-player div.jp-current-time,
div.jp-playlist-player div.jp-duration {
	left:281px;
}


/*playlist and track info*/

div.jp-playlist {
	width:591px;
	height:204px;
	position: absolute;
	top: 142px;
	left: 5px;
}
div.jp-track-info {
	top:14px;
	left:115px;
	position: absolute;
	text-align: center;
	text-shadow: 1px 1px #9DC8F7, -1px -1px #001C4F;
}
div.jp-track-info h2 {
	color:#036;
	font-size:16pt;
	padding:0;
	margin:0 16px;
	float: left;
}
div.jp-track-info h4 {
	color:#036;
	font-size:10pt;
	font-weight:normal;
	padding:0;
	margin-top: 7px;
	float: left;
}
.jp-table {
	margin:0;
	padding:0;
}
.jp-table td {
	color:#D3F4FE;
	font-size:10pt;
	margin:0;
	padding:0;
	height:23px;
}
.jp-table tr {
	margin:0;
	padding:0;
	height:23px;
	cursor: pointer;
}
.jp-table tbody td{
	border: 1px solid #a3b1cb;
}
.jp-table .jp-table-track {
	width:45px;
	text-align:center;
	font-weight:bold;
}
.jp-table .jp-table-name {
	width:108px;
	padding-left:2px;
}
.jp-table .jp-table-artist {
	width:160px;
	padding-left:2px;
}
.jp-table .jp-table-album {
	width:171px;
	padding-left:2px;
}
.jp-table .jp-table-time {
	width:100px;
	padding-left:2px;
}

.jp-table .jp-table-remove {
	text-align:center;
	font-weight:bold;
	font-size:10pt;
	width:13px;
}
.jp-table-remove a,.jp-table-remove-hover a {
	padding:5px 2px;
	text-decoration:none;
}
.jp-table-remove a:hover,.jp-table-remove-hover a:hover {
	text-decoration:none;
	color: #036;
}
.jp-table-remove a:visited,.jp-table-remove-hover a:visited {
	text-decoration:none;
	color: #ffffff;
}
/* Hover */
.jp-table .jp-table-track-hover {
	width:28px;
	text-align:center;
	font-weight:bold;
	background-color: #D3F4FE;
	color: #036;
	border: 1px solid #1072BA;
}
.jp-table .jp-table-artist-hover {
	width:160px;
	padding-left:2px;
	background-color: #D3F4FE;
	color: #036;
	border: 1px solid #1072BA;
}
.jp-table .jp-table-name-hover {
	width:108px;
	padding-left:2px;
	background-color: #D3F4FE;
	color: #036;
	border: 1px solid #1072BA;
}
.jp-table .jp-table-album-hover {
	width:171px;
	padding-left:2px;
	background-color: #D3F4FE;
	color: #036;
	border: 1px solid #1072BA;
}
.jp-table .jp-table-time-hover {
	width:100px;
	padding-left:2px;
	background-color: #D3F4FE;
	color: #036;
	border: 1px solid #1072BA;
}
.jp-table .jp-table-remove-hover {
	text-align:center;
	font-weight:bold;
	font-size:10pt;
	width:13px;
	background-color: #D3F4FE;
	color: #036;
	border: 1px solid #1072BA;
}
/* Current */
.jp-table .jplayer_playlist_current .jp-table-track {
	background-color: #97cdf3;
	color: #0A3961;
	border:1px solid #80a4bd;
	width:28px;
	text-align:center;
	font-weight:bold;
}
.jp-table .jplayer_playlist_current .jp-table-artist {
	background-color: #97cdf3;
	color: #0A3961;
	border:1px solid #80a4bd;
	width:160px;
	padding-left:2px;
}
.jp-table .jplayer_playlist_current .jp-table-name {
	background-color: #97cdf3;
	color: #0A3961;
	border:1px solid #80a4bd;
	width:108px;
	padding-left:2px;
}
.jp-table .jplayer_playlist_current .jp-table-album {
	background-color: #97cdf3;
	color: #0A3961;
	border:1px solid #80a4bd;
	width:171px;
	padding-left:2px;
}
.jp-table .jplayer_playlist_current .jp-table-time {
	background-color: #97cdf3;
	color: #0A3961;
	border:1px solid #80a4bd;
	width:100px;
	padding-left:2px;
}
.jp-table .jplayer_playlist_current .jp-table-remove {
	background-color: #97cdf3;
	color: #0A3961;
	border:1px solid #80a4bd;
	text-align:center;
	font-weight:bold;
	font-size:10pt;
	width:13px;
}
.jp-playlist-player #jplayer_playlist a{
	text-indent: -9999px;
	position: absolute;
	left: 579px;
}
.jp-playlist-player .jScrollPaneTrack {
	position: absolute;
	background: #6fa0c0;
	left: 579px;
}
.jp-playlist-player .jScrollPaneDrag {
	background: url(hot_ice_jplayer.png) -127px -158px repeat-y;
}
.jp-playlist-player .jScrollPaneDragTop {
	background: url(hot_ice_jplayer.png) -127px -90px no-repeat;
	height: 7px;
}
.jp-playlist-player .jScrollPaneDragBottom {
	background: url(hot_ice_jplayer.png) -127px -124px no-repeat;
	height: 7px;
}
.jp-playlist-player a.jScrollArrowUp {
	height: 9px;
	background: url(hot_ice_jplayer.png) -127px -1px no-repeat;
	
}
.jp-playlist-player a.jScrollArrowDown {
	height: 9px;
	background: url(hot_ice_jplayer.png) -127px -46px no-repeat;
}
/* IE SPECIFIC HACKED STYLES */
* html .jp-playlist-player .jScrollPaneDragBottom {
	bottom: -1px;
}
/* /IE SPECIFIC HACKED STYLES */